Django==5.2.3
djangorestframework==3.16.0
channels==4.2.2
channels_redis==4.2.1
uvicorn==0.35.0
gunicorn==23.0.0
python-dotenv==1.1.1
whitenoise==6.9.0
dj-database-url==3.0.0
django-cors-headers==4.3.1
